.ruby-version
.DS_Store
tmp/**/*
doc/report/**/*
doc/report/*
tmp/*
linkfeed.db/*
locks/*
nbproject
tags
.tmp_*
.project
coverage
vendor/plugins/footnotes
public/docs
*~
public/cache/*
promo/.idea/*
.tmp_*
.project
.idea/**/*
.idea/*
.rakeTasks
*.iml
*.pid
*.auth
FixtureObjectMovies.as
.generators
.rakeTasks
hosted_files
.rvmrc
/pmip/*